<div
  class="w-full max-w-[1280px] px-6 sm:px-12 md:px-24 lg:px-48 xl:px-6 mx-auto my-20 flex flex-col xl:flex-row gap-10 items-center"
>
  <div class="w-full xl:w-1/2 flex flex-col gap-5 self-start">
    <p
      class="font-bold text-4xl lg:text-6xl xl:text-7xl text-center xl:text-left"
    >
      What Clients Normally Ask
    </p>
    <p class="text-xl text-[#545849] w-full text-center xl:text-left">
      A digital designer and creative developer from Delhi - India passionate
      about creating memorable experiences.
    </p>
  </div>
  <div class="w-full xl:w-1/2 flex flex-col gap-5">
    <div
      class="flex items-center justify-between gap-5 font-bold text-lg sm:text-xl px-10 py-8 border border-[#0C0F03] rounded-xl"
    >
      <p>What is your hourly rate?</p>
      <div>
        <svg
          width="32"
          height="32"
          viewBox="0 0 32 32"
          fill="none"
          xmlns="http://www.w3.org/2000/svg"
        >
          <rect
            x="0.5"
            y="0.5"
            width="31"
            height="31"
            rx="15.5"
            fill="white"
            stroke="#0C0F03"></rect>
          <rect x="9" y="15" width="14" height="2" rx="1" fill="#0C0F03"></rect>
          <rect
            x="17"
            y="9"
            width="14"
            height="2"
            rx="1"
            transform="rotate(90 17 9)"
            fill="#0C0F03"></rect>
        </svg>
      </div>
    </div>

    <div
      class="flex flex-col gap-5 font-bold text-lg sm:text-xl px-10 py-8 border bg-[#C8F031] border-[#0C0F03] rounded-xl shadow-[4px_4px_0px_#0C0F03] hover:shadow-[8px_8px_0px_#0C0F03] hover:-translate-y-1"
    >
      <div class="flex items-center justify-center gap-5">
        <p>What kind of services you are providing?</p>
        <div>
          <svg
            width="32"
            height="32"
            viewBox="0 0 32 32"
            fill="none"
            xmlns="http://www.w3.org/2000/svg"
          >
            <rect
              x="0.5"
              y="0.5"
              width="31"
              height="31"
              rx="15.5"
              fill="white"
              stroke="#0C0F03"></rect>
            <rect x="9" y="15" width="14" height="2" rx="1" fill="#0C0F03"
            ></rect>
          </svg>
        </div>
      </div>
      <p class="text-base font-normal">
        I start by learn and research based on client brief and resource to gain
        about the needs. I provide web design, UI design, UX design, mobile app
        and web app design services respectively.
      </p>
    </div>

    <div
      class="flex items-center justify-between gap-5 font-bold text-lg sm:text-xl px-10 py-8 border border-[#0C0F03] rounded-xl"
    >
      <p>What's the time-zone do you work in?</p>
      <div>
        <svg
          width="32"
          height="32"
          viewBox="0 0 32 32"
          fill="none"
          xmlns="http://www.w3.org/2000/svg"
        >
          <rect
            x="0.5"
            y="0.5"
            width="31"
            height="31"
            rx="15.5"
            fill="white"
            stroke="#0C0F03"></rect>
          <rect x="9" y="15" width="14" height="2" rx="1" fill="#0C0F03"></rect>
          <rect
            x="17"
            y="9"
            width="14"
            height="2"
            rx="1"
            transform="rotate(90 17 9)"
            fill="#0C0F03"></rect>
        </svg>
      </div>
    </div>

    <div
      class="flex items-center justify-between gap-5 font-bold text-lg sm:text-xl px-10 py-8 border border-[#0C0F03] rounded-xl"
    >
      <p>Do you give lifetime support?</p>
      <div>
        <svg
          width="32"
          height="32"
          viewBox="0 0 32 32"
          fill="none"
          xmlns="http://www.w3.org/2000/svg"
        >
          <rect
            x="0.5"
            y="0.5"
            width="31"
            height="31"
            rx="15.5"
            fill="white"
            stroke="#0C0F03"></rect>
          <rect x="9" y="15" width="14" height="2" rx="1" fill="#0C0F03"></rect>
          <rect
            x="17"
            y="9"
            width="14"
            height="2"
            rx="1"
            transform="rotate(90 17 9)"
            fill="#0C0F03"></rect>
        </svg>
      </div>
    </div>
  </div>
</div>
