<div class="bg-lime-300 w-full px-6 sm:px-12 md:px-24 lg:px-48 xl:px-6">
  <div class="max-w-[1280px] mx-auto flex flex-col pt-10">
    <div class="flex flex-col xl:flex-row justify-between gap-5 py-10 w-full">
      <div class="w-full xl:w-3/8">
        <p class="font-medium text-3xl md:text-4xl lg:text-5xl xl:text-6xl text-lime-900">
          Got a Project? I am Available Let's Talk
        </p>
      </div>
      <div class="w-full xl:w-4/8 flex flex-col gap-10">
        <p class="text-lg sm:text-xl">
          I am available to work on your awesome projects. A digital designer
          and creative developer from Delhi - India passionate about creating
          memorable experiences.
        </p>
        <a href="/contact">
          <button
            class="w-fit rounded-full bg-stone-100 font-medium text-lg sm:text-lg text-stone-900 px-[35px] py-[15px] shadow-[4px_4px_0px_#35530e] cursor-pointer hover:-translate-y-[2px] hover:shadow-[5px_5px_0px_#35530e]"
            >Get In Touch</button
          ></a
        >
        <div class="flex flex-col gap-2">
          <p class="font-medium text-lg sm:text-xl">Follow Me</p>
          <div class="flex gap-2">
            <ul class="[&_li]:cursor-pointer [&_li]:hover:underline font-medium text-lime-900 flex flex-col sm:flex-row gap-2">
              <a href="https://www.instagram.com/naive_nikhil?igsh=MTN6OG92bWxndXBpZg==" target="_blank">Instagram</a>
              <a href="www.linkedin.com/in/nikhil-p-7483ab135" target="_blank">LinkedIn</a>
              <a href="https://github.com/naive-nikhil" target="_blank">Github</a>
            </ul>
          </div>
        </div>
      </div>
    </div>
    <hr class="w-full text-lime-800" />
    <div class="py-5 text-center sm:text-lg font-medium">
      <p>Copyright 2025 Nikhil Patel all rights reserved</p>
    </div>
  </div>
</div>
