---
const pathname = new URL(Astro.request.url).pathname;
const currentPath = pathname.slice(1); //
---

<div class="w-full flex flex-col justify-between h-screen pt-[30px]">
  <div
    class="absolute top-[280px] w-full hidden justify-between items-center -z-1 px-[20px] sm:px-[67px] md:px-[250px] 2xl:flex"
  >
    <div class="flex flex-col gap-16">
      <svg
        class="ml-[60px]"
        width="85"
        height="43"
        viewBox="0 0 85 43"
        fill="none"
        xmlns="http://www.w3.org/2000/svg"
      >
        <path
          d="M1.5 4.00006L28.5 1.50006L49 41.5001L84 14.5001"
          stroke="#0C0F03"
          stroke-width="2"
          stroke-linecap="round"
          stroke-linejoin="round"></path>
      </svg>

      <svg
        width="44"
        height="53"
        viewBox="0 0 44 53"
        fill="none"
        xmlns="http://www.w3.org/2000/svg"
      >
        <path
          d="M19 1.50006L1 33.0001L36.5 52.0001L43 18.5001L19 1.50006Z"
          fill="#FEE145"
          stroke="#0C0F03"
          stroke-width="2"
          stroke-linecap="round"
          stroke-linejoin="round"></path>
      </svg>
    </div>
    <div class="flex flex-col gap-16">
      <svg
        width="43"
        height="61"
        viewBox="0 0 43 61"
        fill="none"
        xmlns="http://www.w3.org/2000/svg"
      >
        <path
          d="M16.5 1.5L1 42L27.5 59.5L41.5 33.5L16.5 1.5Z"
          fill="#01CC65"
          stroke="#0C0F03"
          stroke-width="2"
          stroke-linejoin="round"></path>
      </svg>
      <svg
        class="-ml-[60px]"
        width="96"
        height="67"
        viewBox="0 0 96 67"
        fill="none"
        xmlns="http://www.w3.org/2000/svg"
      >
        <path d="M48.5 66L38.6537 40.078L95 17L48.5 66Z" fill="#3463E5"></path>
        <path
          d="M24 1.5L48.5 66L95 17L1 55.5"
          stroke="#0C0F03"
          stroke-width="2"
          stroke-linecap="round"
          stroke-linejoin="round"></path>
      </svg>
    </div>
  </div>
  <div
    class="flex justify-between items-center px-[20px] sm:px-[70px] md:px-[100px]"
  >
    <div class="flex gap-2">
      <a href="/" class="font-bold text-lg/4.5 text-[#0C0F03]">
        <span>nikhil</span>
        <span>.</span>
        <span
          class="bg-[#C8F031] px-[12px] py-[6px] border rounded-full border-[#0C0F03]"
          >Creative</span
        >
      </a>
    </div>

    <ul class="hidden sm:flex items-center font-medium text-[#545849] gap-12">
      <li
        class="cursor-pointer hover:text-black transition-all ease-in delay-50"
      >
        About Me
      </li>
      <li
        class="cursor-pointer hover:text-black transition-all ease-in delay-50"
      >
        Portfolio
      </li>
      <li
        class="cursor-pointer hover:text-black transition-all ease-in delay-50"
      >
        Contact
      </li>
    </ul>
    <button class="sm:hidden cursor-pointer" id="menu_icon" aria-label="Menu">
      <svg
        xmlns="http://www.w3.org/2000/svg"
        width="32"
        height="32"
        viewBox="0 0 24 24"
        fill="none"
        stroke="currentColor"
        stroke-width="2"
        class="w-8 h-8"
      >
        <line x1="3" y1="12" x2="21" y2="12"></line>
        <line x1="3" y1="6" x2="21" y2="6"></line>
        <line x1="3" y1="18" x2="21" y2="18"></line>
      </svg>
    </button>
    <div
      class="sidebar_menu absolute z-10 top-0 right-0 bottom-0 overflow-hidden bg-white w-0 transition-all duration-400 cursor-pointer"
    >
      <div class="flex flex-col text-[#545849] border-[#545849]">
        <button
          class="flex items-center gap-2 p-3 cursor-pointer"
          id="back_icon"
          aria-label="Close menu"
        >
          <svg
            xmlns="http://www.w3.org/2000/svg"
            width="24"
            height="24"
            viewBox="0 0 24 24"
            fill="none"
            stroke="currentColor"
            stroke-width="1.5"
            class="w-6 h-6"
          >
            <path d="M18 6L6 18M6 6l12 12"></path>
          </svg>
          <span class="pt-1">Back</span>
        </button>
        <p class="py-2 pl-6 border-t">
          <a href="/" class={currentPath === "" ? "active" : ""}>ABOUT ME</a>
        </p>
        <p class="py-2 pl-6 border-t">
          <a href="/about" class={currentPath === "about" ? "active" : ""}
            >PORTFOLIO</a
          >
        </p>
        <p class="py-2 pl-6 border-t last:border-b-1">
          <a
            href="/employers"
            class={currentPath === "employers" ? "active" : ""}>CONTACT</a
          >
        </p>
      </div>
    </div>
  </div>

  <div class="flex flex-col justify-center items-center gap-4 px-[20px]">
    <div
      class="flex flex-col-reverse sm:flex-row gap-[20px] text-center justify-center items-center"
    >
      <p class="hidden sm:block w-[36px] h-[2px] bg-[#0C0F03]"></p>
      <p class="text-2xl sm:text-3xl md:text-4xl font-medium">
        Hello, I'm Nikhil
      </p>
      <span
        class="cursor-pointer text-8xl sm:text-4xl animate-wave transition-transform duration-300 origin-bottom hover:scale-250 hover:rotate-30"
        >👋</span
      >
    </div>
    <p
      class="flex justify-center items-center font-bold w-full sm:w-full max-w-[970px] text-center text-5xl sm:text-5xl md:text-[90px]/23"
    >
      Digital Designer Creative Developer
    </p>
    <p
      class="text-[#545849] font-base text-center w-full sm:w-[600px] text-base sm:text-lg"
    >
      A digital designer and creative developer from Delhi - India passionate
      about creating memorable experiences.
    </p>
    <div
      class="flex flex-col sm:flex-row gap-4 mt-4 text-[#0C0F03] text-sm sm:text-base font-semibold"
    >
      <button
        class="bg-[#C8F031] rounded-full border border-[#0C0F03] px-[35px] py-[15px] shadow-[4px_4px_0px_#0C0F03] hover:shadow-[8px_8px_0px_#0C0F03] hover:-translate-y-1 transition-all duration-300"
        >Get In Touch</button
      >
      <button
        class="rounded-full border border-[#0C0F03] px-[35px] py-[15px] shadow-[4px_4px_0px_#0C0F03] hover:shadow-[8px_8px_0px_#0C0F03] hover:-translate-y-1 transition-all duration-300"
        >View Portfolio</button
      >
    </div>
  </div>
  <div class="bg-[#0C0F03] w-full h-[104px]">
    <p></p>
  </div>
</div>

<script>
  const menuIcon = document.querySelector("#menu_icon");
  const backIcon = document.querySelector("#back_icon");
  const menu = document.querySelector(".sidebar_menu");

  menuIcon?.addEventListener("click", () => {
    menu?.classList.toggle("active");
  });

  backIcon?.addEventListener("click", () => {
    menu?.classList.toggle("active");
  });
</script>
