<div class="absolute h-screen w-full flex items-center justify-center z-3">
  <div
    class="flex flex-col justify-center items-center max-w-[810px] -mt-60 gap-4"
  >
    <h4 class="text-[#fafafa] text-sm font-bold tracking-widest">
      BASED IN INDIA
    </h4>
    <h1 class="text-[#fafafa] text-7xl font-bold tracking-wide">
      Quality <span class="text-[#3b82f6]">Design & Web Development</span> Synergy
    </h1>
    <p class="">
      Hi, I'm Andrija, I create intuitive, visually stunning and highly
      functional web applications.
    </p>
  </div>
</div>
