---
const pathname = new URL(Astro.request.url).pathname;
const currentPath = pathname.slice(1); //
---

<div class="w-full flex flex-col justify-between h-screen pt-[30px]">
  <div
    class="flex justify-between items-center px-[20px] sm:px-[70px] md:px-[200px]"
  >
    <div class="flex gap-2">
      <a href="/" class="font-bold text-lg/4.5 text-[#0C0F03]">
        <span>nikhil</span>
        <span>.</span>
        <span
          class="bg-[#C8F031] px-[12px] py-[6px] border rounded-full border-[#0C0F03]"
          >Creative</span
        >
      </a>
    </div>

    <ul class="hidden sm:flex items-center font-medium text-[#545849] gap-12">
      <li class="cursor-pointer hover:text-black">About Me</li>
      <li class="cursor-pointer hover:text-black">Portfolio</li>
      <li class="cursor-pointer hover:text-black">Contact</li>
    </ul>
    <button class="sm:hidden cursor-pointer" id="menu_icon" aria-label="Menu">
      <svg
        xmlns="http://www.w3.org/2000/svg"
        width="32"
        height="32"
        viewBox="0 0 24 24"
        fill="none"
        stroke="currentColor"
        stroke-width="2"
        class="w-8 h-8"
      >
        <line x1="3" y1="12" x2="21" y2="12"></line>
        <line x1="3" y1="6" x2="21" y2="6"></line>
        <line x1="3" y1="18" x2="21" y2="18"></line>
      </svg>
    </button>
    <div
      class="sidebar_menu absolute z-10 top-0 right-0 bottom-0 overflow-hidden bg-white w-0 cursor-pointer"
    >
      <div class="flex flex-col text-[#545849] border-[#545849]">
        <button
          class="flex items-center gap-2 p-3 cursor-pointer"
          id="back_icon"
          aria-label="Close menu"
        >
          <svg
            xmlns="http://www.w3.org/2000/svg"
            width="24"
            height="24"
            viewBox="0 0 24 24"
            fill="none"
            stroke="currentColor"
            stroke-width="1.5"
            class="w-6 h-6"
          >
            <path d="M18 6L6 18M6 6l12 12"></path>
          </svg>
          <span class="pt-1">Back</span>
        </button>
        <p class="py-2 pl-6 border-t">
          <a href="/" class={currentPath === "" ? "active" : ""}>ABOUT ME</a>
        </p>
        <p class="py-2 pl-6 border-t">
          <a href="/about" class={currentPath === "about" ? "active" : ""}
            >PORTFOLIO</a
          >
        </p>
        <p class="py-2 pl-6 border-t last:border-b-1">
          <a
            href="/employers"
            class={currentPath === "employers" ? "active" : ""}>CONTACT</a
          >
        </p>
      </div>
    </div>
  </div>

  <div class="flex flex-col justify-center items-center gap-4 px-[20px]">
    <div
      class="flex flex-col-reverse sm:flex-row gap-[20px] text-center justify-center items-center"
    >
      <p class="hidden sm:block w-[36px] h-[2px] bg-[#0C0F03]"></p>
      <p class="text-2xl sm:text-3xl md:text-4xl font-medium">
        Hello, I'm Nikhil
      </p>
      <span
        class="cursor-pointer text-8xl sm:text-4xl animate-wave transition-transform duration-300 origin-bottom hover:scale-250 hover:rotate-30"
        >👋</span
      >
    </div>
    <p
      class="flex justify-center items-center font-bold w-full sm:w-full max-w-[970px] text-center text-5xl sm:text-5xl md:text-[90px]/23"
    >
      Digital Designer Creative Developer
    </p>
    <p
      class="text-[#545849] font-base text-center w-full sm:w-[600px] text-base sm:text-lg"
    >
      A digital designer and creative developer from Delhi - India passionate
      about creating memorable experiences.
    </p>
    <div
      class="flex flex-col sm:flex-row gap-4 mt-4 text-[#0C0F03] text-sm sm:text-base font-semibold"
    >
      <button
        class="bg-[#C8F031] rounded-full border border-[#0C0F03] px-[35px] py-[15px] shadow-[4px_4px_0px_#0C0F03] hover:shadow-[8px_8px_0px_#0C0F03] hover:-translate-y-1"
        >Get In Touch</button
      >
      <button
        class="rounded-full border border-[#0C0F03] px-[35px] py-[15px] shadow-[4px_4px_0px_#0C0F03] hover:shadow-[8px_8px_0px_#0C0F03] hover:-translate-y-1"
        >View Portfolio</button
      >
    </div>
  </div>
  <div class="bg-[#0C0F03] text-lg font-bold overflow-hidden">
    <div
      class="flex w-max items-center invert h-[104px] gap-[40px] animate-infinite-scroll"
    >
      <div class="flex-shrink-0 flex items-center gap-[40px]">
        <img class="h-12 w-12" src="/svg/mongodb.svg" />
        <p>MongoDB</p>
        <img class="h-12 w-12" src="/svg/express.svg" />
        <p>Express.JS</p>
        <img class="h-12 w-12" src="/svg/react.svg" />
        <p>React.JS</p>
        <img class="h-12 w-12" src="/svg/nodedotjs.svg" />
        <p>Node.Js</p>
        <img class="h-12 w-12" src="/svg/html5.svg" />
        <p>HTML5</p>
        <img class="h-12 w-12" src="/svg/css.svg" />
        <p>CSS</p>
        <img class="h-12 w-12" src="/svg/javascript.svg" />
        <p>JavaScript</p>
        <img class="h-12 w-12" src="/svg/astro.svg" />
        <p>Astro</p>
        <img class="h-12 w-12" src="/svg/git.svg" />
        <p>Git</p>
        <img class="h-12 w-12" src="/svg/github.svg" />
        <p>Github</p>
        <img class="h-12 w-12" src="/svg/postman.svg" />
        <p>Postman</p>
      </div>
      <div class="flex-shrink-0 flex items-center gap-[40px]">
        <img class="h-12 w-12" src="/svg/mongodb.svg" />
        <p>MongoDB</p>
        <img class="h-12 w-12" src="/svg/express.svg" />
        <p>Express.JS</p>
        <img class="h-12 w-12" src="/svg/react.svg" />
        <p>React.JS</p>
        <img class="h-12 w-12" src="/svg/nodedotjs.svg" />
        <p>Node.Js</p>
        <img class="h-12 w-12" src="/svg/html5.svg" />
        <p>HTML5</p>
        <img class="h-12 w-12" src="/svg/css.svg" />
        <p>CSS</p>
        <img class="h-12 w-12" src="/svg/javascript.svg" />
        <p>JavaScript</p>
        <img class="h-12 w-12" src="/svg/astro.svg" />
        <p>Astro</p>
        <img class="h-12 w-12" src="/svg/git.svg" />
        <p>Git</p>
        <img class="h-12 w-12" src="/svg/github.svg" />
        <p>Github</p>
        <img class="h-12 w-12" src="/svg/postman.svg" />
        <p>Postman</p>
      </div>
    </div>
  </div>
</div>

<script>
  const menuIcon = document.querySelector("#menu_icon");
  const backIcon = document.querySelector("#back_icon");
  const menu = document.querySelector(".sidebar_menu");

  menuIcon?.addEventListener("click", () => {
    menu?.classList.toggle("active");
  });

  backIcon?.addEventListener("click", () => {
    menu?.classList.toggle("active");
  });
</script>
