<div class="absolute top-0 w-full flex justify-center items-center z-3">
  <div class="bg-[#1a1a1a] border border-[#4d4d4d] mt-10 rounded-lg">
    <ul
      class="flex justify-center text-[16px] items-center text-[#fafafa] px-9 gap-5 py-4 font-medium"
    >
      <li class="cursor-pointer hover:text-[#c9c9c9]">Home</li>
      <li class="cursor-pointer hover:text-[#c9c9c9]">Work</li>
      <li class="cursor-pointer hover:text-[#c9c9c9]">About</li>
      <li class="cursor-pointer hover:text-[#c9c9c9]">Contact</li>
    </ul>
  </div>
</div>
