<div
  class="w-full max-w-[1280px] px-6 sm:px-12 md:px-24 lg:px-48 xl:px-6 py-8 mx-auto flex justify-between items-center"
>
  <div class="flex gap-2">
    <a href="/" class="font-medium text-xl/4.5 text-stone-900">
      <span>NIKHIL</span>
      <span>.</span>
      <span
        class="bg-lime-300 px-[12px] py-[6px] rounded-full shadow-[4px_4px_0px_#35530e]"
        >UHSRAV</span
      >
    </a>
  </div>

  <ul
    class="hidden sm:flex items-center text-xl font-medium text-[#545849] gap-12"
  >
    <li class="cursor-pointer hover:text-black !duration-0">
      <a href="/about">About Me & Contact</a>
    </li>
    <li class="cursor-pointer hover:text-black !duration-0">
      <a href="/portfolio">Portfolio</a>
    </li>
  </ul>
  <div class="relative sm:hidden flex gap-2">
    <a href="/Nikhil-Resume.pdf" download class="relative">
      <p
        aria-label="Download CV"
        class="cursor-pointer bg-white p-4 rounded-full w-fit shadow-[2px_2px_0px_#44403b] hover-active-effect hover:-translate-y-1"
      >
        <svg
          width="14"
          height="14"
          viewBox="0 0 24 24"
          fill="none"
          xmlns="http://www.w3.org/2000/svg"
        >
          <path
            d="M12 3V16M12 16L8 12M12 16L16 12"
            stroke="#0C0F03"
            stroke-width="2"
            stroke-linecap="round"
            stroke-linejoin="round"></path>
          <path
            d="M4 20H20"
            stroke="#0C0F03"
            stroke-width="2"
            stroke-linecap="round"
            stroke-linejoin="round"></path>
        </svg>
      </p>
      <p class="absolute top-[calc(100%+4px)] left-1 xl:basis-150 text-gray-500 font-medium text-sm">⋆ CV</p>
    </a>
    <p
      id="menu_icon"
      aria-label="Menu"
      class="rotate-180 cursor-pointer p-4 bg-white rounded-full w-fit shadow-[-2px_-2px_0px_#44403b] hover:shadow-[-4px_-4px_0px_#0C0F03] hover:-translate-y-1 hover:bg-[#C8F031]"
    >
      <svg
        width="14"
        height="14"
        viewBox="0 0 14 14"
        fill="none"
        xmlns="http://www.w3.org/2000/svg"
      >
        <path
          d="M1.51465 1.51416H12.4861M12.4861 1.51416V12.4856M12.4861 1.51416L1.51465 12.4856"
          stroke="#0C0F03"
          stroke-width="1.5"
          stroke-linecap="round"
          stroke-linejoin="round"></path>
      </svg>
    </p>
  </div>
  <div
    class="sidebar_menu fixed z-10 top-0 right-0 bottom-0 overflow-hidden bg-white w-0 cursor-pointer flex justify-center items-center"
  >
    <div
      class="flex flex-col items-center gap-5 font-medium text-2xl text-center"
    >
      <p><a href="/about">About Me & Contact</a></p>
      <p><a href="/portfolio">Portfolio</a></p>
      <p
        id="back_icon"
        aria-label="Menu"
        class="mt-5 sm:hidden cursor-pointer p-4 bg-[#C8F031] border border-[#0C0F03] rounded-full w-fit shadow-[2px_2px_0px_#0C0F03] hover:shadow-[4px_4px_0px_#0C0F03] hover:-translate-y-1 hover:bg-[#C8F031]"
      >
        <svg
          width="14"
          height="14"
          viewBox="0 0 14 14"
          fill="none"
          xmlns="http://www.w3.org/2000/svg"
        >
          <path
            d="M1.51465 1.51416H12.4861M12.4861 1.51416V12.4856M12.4861 1.51416L1.51465 12.4856"
            stroke="#0C0F03"
            stroke-width="1.5"
            stroke-linecap="round"
            stroke-linejoin="round"></path>
        </svg>
      </p>
    </div>
  </div>
</div>
<script>
  const menuIcon = document.querySelector("#menu_icon");
  const backIcon = document.querySelector("#back_icon");
  const menu = document.querySelector(".sidebar_menu");

  menuIcon?.addEventListener("click", () => {
    console.log("clicked")
    menu?.classList.toggle("active");
    // Lock scrolling when sidebar is opened
    document.body.style.overflow = "hidden";
  });

  backIcon?.addEventListener("click", () => {
    menu?.classList.toggle("active");
    // Enable scrolling when sidebar is closed
    document.body.style.overflow = "auto";
  });
</script>

<style>
  .sidebar_menu.active {
    width: 100%;
  }
</style>
