<div
  class="px-4 sm:px-10 md:px-20 lg:px-40 xl:px-80 py-30 flex flex-col gap-20"
>
  <div class="flex flex-col sm:flex-row justify-between items-center gap-5">
    <p
      class="text-4xl lg:text-4xl xl:text-7xl font-bold text-center sm:text-left"
    >
      My Latest Design & Development Projects
    </p>
    <button
      class="whitespace-nowrap w-fit rounded-full font-bold border border-[#0C0F03] px-[35px] py-[15px] shadow-[4px_4px_0px_#0C0F03] hover:shadow-[8px_8px_0px_#0C0F03] hover:-translate-y-1"
      >View All Projects</button
    >
  </div>
  <div class="flex flex-col gap-10">
    <div class="flex flex-col md:flex-row justify-between items-center gap-10">
      <div
        class="p-4 border border-[#0C0F03] rounded-xl flex flex-col gap-6 shadow-[4px_4px_0px_#0C0F03] hover:shadow-[8px_8px_0px_#0C0F03] hover:-translate-y-1"
      >
        <img class="w-150" src="/images/project1.webp" alt="" />
      </div>
      <div class="w-screen max-w-[470px] flex flex-col gap-5 px-6">
        <p class="text-3xl font-bold">Photographer Portfolio Landing Page</p>
        <p class="text-[#545849]">
          This is a Photographer Website Landing Page design. Where you can hire
          a professional photographer very easily.
        </p>
        <div class="flex gap-5 flex-wrap">
          <p class="px-4 py-1 border border-[#0C0F03] rounded-full">Website</p>
          <p class="px-4 py-1 border border-[#0C0F03] rounded-full">Design</p>
          <p class="px-4 py-1 border border-[#0C0F03] rounded-full">
            Development
          </p>
        </div>
        <p
          class="p-4 border border-[#0C0F03] rounded-full w-fit shadow-[2px_2px_0px_#0C0F03] hover:shadow-[4px_4px_0px_#0C0F03] hover:-translate-y-1 hover:bg-[#C8F031]"
        >
          <svg
            width="14"
            height="14"
            viewBox="0 0 14 14"
            fill="none"
            xmlns="http://www.w3.org/2000/svg"
          >
            <path
              d="M1.51465 1.51416H12.4861M12.4861 1.51416V12.4856M12.4861 1.51416L1.51465 12.4856"
              stroke="#0C0F03"
              stroke-width="1.5"
              stroke-linecap="round"
              stroke-linejoin="round"></path>
          </svg>
        </p>
      </div>
    </div>
    <div
      class="flex flex-col md:flex-row-reverse justify-between items-center gap-10"
    >
      <div
        class="p-4 border border-[#0C0F03] rounded-xl flex flex-col gap-6 shadow-[4px_4px_0px_#0C0F03] hover:shadow-[8px_8px_0px_#0C0F03] hover:-translate-y-1"
      >
        <img class="w-150" src="/images/project2.webp" alt="" />
      </div>
      <div class="w-screen max-w-[470px] flex flex-col gap-5 px-6">
        <p class="text-3xl font-bold">
          Jewelry Website Landing Page - M Jewelry
        </p>
        <p class="text-[#545849]">
          This is a Jewelry Landing Page design. Where you can buy any kind of
          jewelry items from this online shop.
        </p>
        <div class="flex gap-5 flex-wrap">
          <p class="px-4 py-1 border border-[#0C0F03] rounded-full">Website</p>
          <p class="px-4 py-1 border border-[#0C0F03] rounded-full">Design</p>
          <p class="px-4 py-1 border border-[#0C0F03] rounded-full">
            Development
          </p>
        </div>
        <p
          class="p-4 border border-[#0C0F03] rounded-full w-fit shadow-[2px_2px_0px_#0C0F03] hover:shadow-[4px_4px_0px_#0C0F03] hover:-translate-y-1 hover:bg-[#C8F031]"
        >
          <svg
            width="14"
            height="14"
            viewBox="0 0 14 14"
            fill="none"
            xmlns="http://www.w3.org/2000/svg"
          >
            <path
              d="M1.51465 1.51416H12.4861M12.4861 1.51416V12.4856M12.4861 1.51416L1.51465 12.4856"
              stroke="#0C0F03"
              stroke-width="1.5"
              stroke-linecap="round"
              stroke-linejoin="round"></path>
          </svg>
        </p>
      </div>
    </div>
    <div class="flex flex-col md:flex-row justify-between items-center gap-10">
      <div
        class="p-4 border border-[#0C0F03] rounded-xl flex flex-col gap-6 shadow-[4px_4px_0px_#0C0F03] hover:shadow-[8px_8px_0px_#0C0F03] hover:-translate-y-1"
      >
        <img class="w-150" src="/images/project3.webp" alt="" />
      </div>
      <div class="w-screen max-w-[470px] flex flex-col gap-5 px-6">
        <p class="text-3xl font-bold">Creative Agency Landing Page - Connive</p>
        <p class="text-[#545849]">
          A Creative Agency Website Landing Page design. Where you can hire
          designers & developers for your digital projects.
        </p>
        <div class="flex gap-5 flex-wrap">
          <p class="px-4 py-1 border border-[#0C0F03] rounded-full">Website</p>
          <p class="px-4 py-1 border border-[#0C0F03] rounded-full">Design</p>
          <p class="px-4 py-1 border border-[#0C0F03] rounded-full">
            Development
          </p>
        </div>
        <p
          class="p-4 border border-[#0C0F03] rounded-full w-fit shadow-[2px_2px_0px_#0C0F03] hover:shadow-[4px_4px_0px_#0C0F03] hover:-translate-y-1 hover:bg-[#C8F031]"
        >
          <svg
            width="14"
            height="14"
            viewBox="0 0 14 14"
            fill="none"
            xmlns="http://www.w3.org/2000/svg"
          >
            <path
              d="M1.51465 1.51416H12.4861M12.4861 1.51416V12.4856M12.4861 1.51416L1.51465 12.4856"
              stroke="#0C0F03"
              stroke-width="1.5"
              stroke-linecap="round"
              stroke-linejoin="round"></path>
          </svg>
        </p>
      </div>
    </div>
  </div>
</div>
