@import url('https://fonts.googleapis.com/css2?family=Syne:wght@400..800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=DM+Sans:ital,opsz,wght@0,9..40,100..1000;1,9..40,100..1000&display=swap');
@import "tailwindcss";

::-webkit-scrollbar{
    display: none;
}

.hover-active-effect{
  @apply  hover:shadow-[8px_8px_0px_#0C0F03] active:shadow-[8px_8px_0px_#0C0F03] hover:-translate-y-1 active:-translate-y-1
}


*{
    font-family: 'Syne', sans-serif;
    outline: none;
    user-select: none;
    transition: all ease-in 200ms;
}

body{
  color: #0C0F03;
}


@keyframes wave {
    0% { transform: rotate(0deg) scale(1); }
    20% { transform: rotate(15deg) scale(1.1); }
    40% { transform: rotate(-10deg) scale(1.1); }
    60% { transform: rotate(5deg) scale(1.1); }
    80% { transform: rotate(-5deg) scale(1); }
    100% { transform: rotate(0deg) scale(1); }
  }
  
  .animate-wave {
    animation: wave 2s ease-in-out infinite;
    transform-origin: bottom center;
  }