@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Raleway:ital,wght@0,100..900;1,100..900&display=swap');
@import url('https://fonts.cdnfonts.com/css/helvetica-neue-55');
@import "tailwindcss";

*{
    font-family: 'Raleway', sans-serif;
}

html, body{
    overflow-x: hidden;
    color-scheme: dark;
}
