<div
  class="w-full max-w-[1280px] px-6 sm:px-12 md:px-24 lg:px-48 xl:px-6 py-20 mx-auto flex flex-col gap-10 justify-between items-center"
>
  <div class="mx-auto">
    <p
      class="font-bold text-3xl md:text-4xl lg:text-5xl xl:text-6xl text-center"
    >
      My Experience
    </p>
    <p
      class="text-lg sm:text-xl text-center w-full mt-5 max-w-[670px] text-[#545849]"
    >
      A digital designer and creative developer from Delhi - India passionate
      about creating memorable experiences.
    </p>
  </div>
  <div class="grid grid-cols-1 lg:grid-cols-2 xl:grid-cols-3 gap-4 text-gray-700">
    <div
      class="border-emerald-600 p-3 pl-4 bg-white flex flex-col gap-4 justify-between border-t-2 sm:border-l-2 sm:border-0 shadow-lg"
    >
      <div>
        <h2 class="text-2xl lg:text-3xl">2020Technologies</h2>
        <p class="sm:text-lg">September 2024 - February 2025</p>
      </div>
      <div class="space-y-2">
        <p class="text-xl sm:text-2xl">
          Full Stack Developer
        </p>

        <ul class="text-[#545849]">
          <li>Developed company’s main website and internal hiring dashboard</li>
          <li>Integrated secure authentication, optimized database queries</li>
        </ul>
      </div>
    </div>

    <div
      class="border-emerald-600 p-3 pl-4 bg-white flex flex-col gap-4 justify-between border-t-2 sm:border-l-2 sm:border-0 shadow-lg"
    >
      <div>
        <h2 class="text-2xl lg:text-3xl">Girikand Travels Pvt. Ltd.</h2>
        <p class="sm:text-lg">July 2022 - August 2024</p>
      </div>
      <div class="space-y-2">
        <p class="text-xl sm:text-2xl">
          Accountant
        </p>

        <ul class="text-[#545849]">
          <li>Managed GST filings, reconciliations, and client recoveries</li>
          <li>Automated billing using spreadsheets, reducing errors by 30% </li>
        </ul>
      </div>
    </div>

    <div
      class="border border-emerald-600 p-3 pl-4 bg-white flex flex-col gap-4 justify-between border-t-5 sm:border-l-2 sm:border-0 shadow-lg"
    >
      <div>
        <h2 class="text-4xl font-medium">Asian Travel House</h2>
        <p class="text-lg">July 2020 - June 2022</p>
      </div>
      <div class="space-y-2">
        <p class="text-2xl">
          Billing Executive
        </p>

        <ul class="text-[#545849]">
          <li>Generated 300+ client invoices/month and provided MIS reports</li>
          <li>Streamlined reporting process, improving monthly closure time</li>
        </ul>
      </div>
    </div>

    <div
      class="border border-emerald-600 p-3 pl-4 bg-white flex flex-col gap-4 justify-between border-t-5 sm:border-l-2 sm:border-0 shadow-lg"
    >
      <div>
        <h2 class="text-4xl font-medium">Asian Travel House</h2>
        <p class="text-lg">July 2020 - June 2022</p>
      </div>
      <div class="space-y-2">
        <p class="text-2xl">
          Billing Executive
        </p>

        <ul class="text-[#545849]">
          <li>Generated 300+ client invoices/month and provided MIS reports</li>
          <li>Streamlined reporting process, improving monthly closure time</li>
        </ul>
      </div>
    </div>
  </div>
</div>
