<div
  class="w-full max-w-[1280px] px-6 sm:px-12 md:px-24 lg:px-48 xl:px-6 py-20 mx-auto flex flex-col gap-10 justify-between items-center"
>
  <div class="mx-auto">
    <p
      class="font-bold text-3xl md:text-4xl lg:text-5xl xl:text-6xl text-center"
    >
      My Experience
    </p>
    <p
      class="text-lg sm:text-xl text-center w-full mt-5 max-w-[670px] text-[#545849]"
    >
      A digital designer and creative developer from Delhi - India passionate
      about creating memorable experiences.
    </p>
  </div>
  <div class="grid grid-cols-1 lg:grid-cols-2 xl:grid-cols-3 gap-4">
    <div
      class="border border-[#0C0F03] rounded-xl p-4 flex flex-col gap-6 shadow-[4px_4px_0px_#0C0F03] hover-active-effect"
    >
      <div
        class="p-2 w-fit rounded-full border border-[#0C0F03]border border-[#0C0F03]"
      >
        <img src="/images/company.png" alt="" />
      </div>
      <div class="flex flex-col gap-2">
        <p class="text-lg sm:text-xl/6 mb-5 font-bold">Apr 2022 - Present</p>
        <p class="text-xl sm:text-2xl/6 font-bold">Web Designer</p>
        <p class="text-[#545849] text-lg sm:text-xl/relaxed">
          A digital designer and creative developer from Delhi - India
          passionate about creating memorable experiences.
        </p>
      </div>
    </div>

    <div
      class="border border-[#0C0F03] rounded-xl p-4 flex flex-col gap-6 shadow-[4px_4px_0px_#0C0F03] hover-active-effect"
    >
      <div
        class="p-2 w-fit rounded-full border border-[#0C0F03]border border-[#0C0F03]"
      >
        <img src="/images/company.png" alt="" />
      </div>
      <div class="flex flex-col gap-2">
        <p class="text-lg sm:text-xl/6 mb-5 font-bold">Apr 2022 - Present</p>
        <p class="text-xl sm:text-2xl/6 font-bold">Web Designer</p>
        <p class="text-[#545849] text-lg sm:text-xl/relaxed">
          A digital designer and creative developer from Delhi - India
          passionate about creating memorable experiences.
        </p>
      </div>
    </div>

    <div
      class="border border-[#0C0F03] rounded-xl p-4 flex flex-col gap-6 shadow-[4px_4px_0px_#0C0F03] hover-active-effect"
    >
      <div
        class="p-2 w-fit rounded-full border border-[#0C0F03]border border-[#0C0F03]"
      >
        <img src="/images/company.png" alt="" />
      </div>
      <div class="flex flex-col gap-2">
        <p class="text-lg sm:text-xl/6 mb-5 font-bold">Apr 2022 - Present</p>
        <p class="text-xl sm:text-2xl/6 font-bold">Web Designer</p>
        <p class="text-[#545849] text-lg sm:text-xl/relaxed">
          A digital designer and creative developer from Delhi - India
          passionate about creating memorable experiences.
        </p>
      </div>
    </div>
  </div>
</div>
