<div
  class="rounded-full p-4 border border-[#0C0F03] shadow-[4px_4px_0px_#0C0F03]"
>
  <div class="relative w-100 h-100 rounded-full overflow-hidden">
    <img
      class="absolute h-full w-full object-cover"
      src="/images/profile.webp"
      alt="profile-image"
    />
  </div>
</div>
