<div
  class="w-full max-w-[1280px] px-6 sm:px-12 md:px-24 lg:px-48 xl:px-6 py-10 mx-auto flex flex-col-reverse gap-10 xl:flex-row xl:justify-between xl:items-center items-center my-20"
>
<div class="badge-base LI-profile-badge" data-locale="en_US" data-size="large" data-theme="light" data-type="HORIZONTAL" data-vanity="naive-nikhil" data-version="v1"><a class="badge-base__link LI-simple-link" href="https://in.linkedin.com/in/naive-nikhil?trk=profile-badge">Nikhil P.</a></div>
              
  <div
    class="flex flex-col gap-2 justify-center items-center text-center xl:text-left xl:items-start xl:justify-normal"
  >
    <p
      class="font-medium text-3xl md:text-4xl lg:text-5xl xl:text-6xl text-center xl:text-left"
    >
      Let's Connect
    </p>

    <div class="flex flex-col xl:flex-row gap-2 mt-5 w-full">
      <input
        type="text"
        placeholder="Name ⋆"
        class="rounded-full bg-white font-medium px-[35px] py-[15px] w-full"
      />
      <input
        type="text"
        placeholder="Drop me a Hello 👋"
        class="font-medium bg-white rounded-full px-[35px] py-[15px] w-full"
      />
      <a href="/portfolio">
        <button
          class="rounded-full w-full bg-white font-medium px-[35px] py-[15px] shadow-[4px_4px_0px_#44403b] hover-active-effect"
          >Send</button
        ></a
      >
    </div>
    <p class="text-gray-500 text-dm text-sm">
      ⋆ Just drop me a Hello with your name and i'll reach out soon
    </p>
  </div>
</div>

<div class="badge-base LI-profile-badge" data-locale="en_US" data-size="large" data-theme="light" data-type="HORIZONTAL" data-vanity="naive-nikhil" data-version="v1"><a class="badge-base__link LI-simple-link" href="https://in.linkedin.com/in/naive-nikhil?trk=profile-badge">Nikhil P.</a></div>
<script src="https://platform.linkedin.com/badges/js/profile.js" async defer type="text/javascript"></script>    