<div
  class="w-full max-w-[1280px] px-6 sm:px-12 md:px-24 lg:px-48 xl:px-6 py-10 mx-auto flex flex-col-reverse gap-10 xl:flex-row xl:justify-between xl:items-center items-center"
>
  <div
    class="flex flex-col gap-2 justify-center items-center text-center xl:text-left xl:items-start xl:justify-normal"
  >
    <div class="flex items-center gap-5">
      <p class="text-2xl sm:text-3xl md:text-4xl font-medium">Let's Connect</p>
      <span
        class="cursor-pointer text-6xl xl:text-4xl animate-wave transition-transform duration-300 origin-bottom hover:scale-250 hover:rotate-30 active:scale-150 active:rotate-30"
        >👋</span
      >
    </div>

    <div class="flex flex-wrap flex-col xl:flex-row gap-2 mt-5">
      <input
        type="text"
        placeholder="Drop me a Hello 👋"
        class="font-bold rounded-full border border-[#0C0F03] px-[35px] py-[15px] xl:w-[500px]"
      />
      <button
        class="font-bold rounded-full border border-[#0C0F03] px-[35px] py-[15px] shadow-[4px_4px_0px_#0C0F03] hover:shadow-[8px_8px_0px_#0C0F03] hover:-translate-y-1"
        >Send</button
      >
      <p class="xl:basis-150 text-gray-500 text-dm text-sm">
        ⋆ Just drop me a Hello with your name and email and i'll reach out soon
      </p>
    </div>
  </div>
  <div
    class="rounded-full p-2 border border-[#0C0F03] shadow-[2px_2px_2px_#0C0F03]"
  >
    <div
      class="relative w-60 sm:w-80 h-60 sm:h-80 rounded-full overflow-hidden"
    >
      <img
        class="absolute h-full w-full object-cover"
        src="/images/profile.webp"
        alt="profile-image"
      />
    </div>
  </div>
</div>
