---
import "../styles/global.css";
import Navbar from "../components/Navbar.astro";
import Footer from "../components/Footer.astro";
import Credit from "../components/Credit.astro";
import ScrollUp from "../components/ScrollUp.astro";
---

<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width" />
    <link
      rel="apple-touch-icon"
      sizes="180x180"
      href="favicon/apple-touch-icon.png"
    />
    <link
      rel="icon"
      type="image/png"
      sizes="32x32"
      href="favicon/favicon-32x32.png"
    />
    <link
      rel="icon"
      type="image/png"
      sizes="16x16"
      href="favicon/favicon-16x16.png"
    />
    <link rel="manifest" href="favicon/site.webmanifest" />
    <title>My Portfolio</title>
  </head>
  <body class="opacity-0 transition-opacity duration-300 ease-in-out text-gray-700 bg-stone-100">
    <ScrollUp />
    <Navbar />
    <slot />
    <Footer />
    <!-- <Credit /> -->
    
    <script>
      // Wait for all assets to load before showing content
      window.onload = function () {
        document.body.style.opacity = "1";
      };
    </script>
  </body>
</html>
