<div
  class="w-full bg-gradient-to-r from-[#222] to-[#333] text-2xl font-bold overflow-hidden user-select-none"
>
  <ul
    class="flex gap-32 [&_li]:flex [&_li]:justify-center py-10 [&_li]:items-center [&_li]:gap-6 invert scroll-left w-fit"
  >
    <li>
      <img class="h-10 w-10" src="/svg/mongodb.svg" />
      <p>MongoDB</p>
    </li>
    <li>
      <img class="h-10 w-10" src="/svg/express.svg" />
      <p>Express.JS</p>
    </li>
    <li>
      <img class="h-10 w-10" src="/svg/react.svg" />
      <p>React.JS</p>
    </li>
    <li>
      <img class="h-10 w-10" src="/svg/nodedotjs.svg" />
      <p>Node.Js</p>
    </li>
    <li>
      <img class="h-10 w-10" src="/svg/html5.svg" />
      <p>HTML5</p>
    </li>
    <li>
      <img class="h-10 w-10" src="/svg/css.svg" />
      <p>CSS</p>
    </li>
    <li>
      <img class="h-10 w-10" src="/svg/javascript.svg" />
      <p>JavaScript</p>
    </li>
    <li>
      <img class="h-10 w-10" src="/svg/astro.svg" />
      <p>Astro</p>
    </li>
    <li>
      <img class="h-10 w-10" src="/svg/git.svg" />
      <p>Git</p>
    </li>
    <li>
      <img class="h-10 w-10" src="/svg/github.svg" />
      <p>Github</p>
    </li>
    <li>
      <img class="h-10 w-10" src="/svg/postman.svg" />
      <p>Postman</p>
    </li>

    <!-- Second Set of Icons -->

    <li>
      <img class="h-10 w-10" src="/svg/mongodb.svg" />
      <p>MongoDB</p>
    </li>
    <li>
      <img class="h-10 w-10" src="/svg/express.svg" />
      <p>Express.JS</p>
    </li>
    <li>
      <img class="h-10 w-10" src="/svg/react.svg" />
      <p>React.JS</p>
    </li>
    <li>
      <img class="h-10 w-10" src="/svg/nodedotjs.svg" />
      <p>Node.Js</p>
    </li>
    <li>
      <img class="h-10 w-10" src="/svg/html5.svg" />
      <p>HTML5</p>
    </li>
    <li>
      <img class="h-10 w-10" src="/svg/css.svg" />
      <p>CSS</p>
    </li>
    <li>
      <img class="h-10 w-10" src="/svg/javascript.svg" />
      <p>JavaScript</p>
    </li>
    <li>
      <img class="h-10 w-10" src="/svg/astro.svg" />
      <p>Astro</p>
    </li>
    <li>
      <img class="h-10 w-10" src="/svg/git.svg" />
      <p>Git</p>
    </li>
    <li>
      <img class="h-10 w-10" src="/svg/github.svg" />
      <p>Github</p>
    </li>
    <li>
      <img class="h-10 w-10" src="/svg/postman.svg" />
      <p>Postman</p>
    </li>
  </ul>
</div>

<style>
  @keyframes scroll-left {
    to {
      transform: translate(calc(-50% - 4rem));
    }
  }

  .scroll-left {
    animation: scroll-left 30s linear infinite;
    will-change: transform;
  }

  .scroll-left:hover {
    animation-play-state: paused;
  }
</style>
