<div
  class="w-full max-w-[1280px] px-6 sm:px-12 md:px-24 lg:px-48 xl:px-6 mx-auto py-8 xl:py-22 mb-20 xl:mb-0"
>
  <div class="flex flex-col justify-center items-center gap-5">
    <div
      class="flex flex-col-reverse xl:flex-row gap-5 text-center justify-center items-center"
    >
      <p class="hidden xl:block w-[36px] h-[2px] bg-[#0C0F03]"></p>
      <p class="text-2xl text-stone-600 sm:text-3xl md:text-4xl font-medium">
        Hello, I'm Nikhil
      </p>
      <span
        class="cursor-pointer text-4xl animate-wave transition-transform duration-300 origin-bottom hover:rotate-30 active:scale-150 active:rotate-30"
        >👋</span
      >
    </div>
    <div class="w-full py-5">
      <div class="badge-base [&_iframe]:m-auto LI-profile-badge" data-locale="en_US" data-size="large" data-theme="light" data-type="HORIZONTAL" data-vanity="naive-nikhil" data-version="v1"><a class="badge-base__link LI-simple-link" href="https://in.linkedin.com/in/naive-nikhil?trk=profile-badge"></a></div>
    </div>
    <p
      class="flex text-stone-800 justify-center items-center font-bold text-center text-2xl md:text-6xl lg:text-7xl xl:text-8xl"
    >
      Digital Designer Creative Developer
    </p>
    <p
      class="text-stone-600 font-base text-center w-full sm:w-[600px] text-lg sm:text-xl"
    >
      A digital designer and creative developer from Delhi - India passionate
      about creating memorable experiences.
    </p>
    <div
      class="relative text-nowrap flex flex-col justify-center items-center sm:flex-row gap-4 mt-4 font-medium"
    >
      <a href="/about">
        <button
          class="bg-lime-300 rounded-full text-stone-900 px-[35px] py-[15px] shadow-[4px_4px_0px_#35530e] hover-active-effect"
          >Get In Touch</button
        ></a
      >
      <a href="/portfolio">
        <button
          class="rounded-full bg-white px-[35px] py-[15px] shadow-[4px_4px_0px_#44403b] hover-active-effect"
          >View Portfolio</button
        ></a
      >
      <a href="/Nikhil-Resume.pdf" download>
        <p
          id="menu_icon"
          aria-label="Download CV"
          class="hidden sm:block cursor-pointer bg-white p-4 rounded-full w-fit shadow-[4px_4px_0px_#44403b] hover-active-effect hover:-translate-y-1"
        >
          <svg
            width="14"
            height="14"
            viewBox="0 0 24 24"
            fill="none"
            xmlns="http://www.w3.org/2000/svg"
          >
            <path
              d="M12 3V16M12 16L8 12M12 16L16 12"
              stroke="#0C0F03"
              stroke-width="2"
              stroke-linecap="round"
              stroke-linejoin="round"></path>
            <path
              d="M4 20H20"
              stroke="#0C0F03"
              stroke-width="2"
              stroke-linecap="round"
              stroke-linejoin="round"></path>
          </svg>
        </p>
      </a>
      <p class="hidden sm:block xl:basis-150 text-gray-500 font-medium text-sm">⋆ CV</p>
    </div>
  </div>
</div>
